body {
    background-color: #e8e8e8;
}
header {
    background-color: #ffffff;
    color: #222222;
}

.dropdown-item a{
    color: #212529 !important;
}

/*.navbar .navbar-brand, .navbar .nav-link {*/
/*    color: white;*/
/*}*/

.navbar-nav {
    margin-left: auto;
}
.homePage {
    width: 100%;
    height: calc(100vh - 56px);
    /*background-image: url("/images/index.jpeg");*/
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /*background-color: #222;*/
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}


.reservation {
    color: #222;
    font-size: 18px;
    font-weight: bold;

}

.reservation-form {
    padding: 20px;
    background-color: #cdcaca;
    width: 375px;
    border-radius: 5px;
}


.inputError {
    color: #f62323;
    font-size: 12px;
}


.userslist {
    margin: 32px 0px;
    min-height: 250px;
}

.logout {
    background-color: inherit;
    border: none;
}

.custom-alert {
    color: white;
    padding: 5px 0px 5px 5px;
    margin-bottom: 15px;
}

.fixed-container {
    max-width: 500px;
    margin: auto;
    background-color: #c4c4c4;
    padding: 20px;
    min-height: 800px;
}

.fixed-container h2 {
    margin: 20px 0px;

}

.notification {
    padding: 15px;
    font-size: 16px;
}

.single-notification:nth-child(even) {
    background-color: #e8e8e8;
}

.single-notification:nth-child(odd) {
    background-color: #ffffff;
}



hr {
    color: white;
}
/** end profile page */


/*login*/

.loginBody {
    background-color: #e8e8e8;
}
.login-main-container {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center
}

.login-form-container {
    width: 300px;
}

.facebookLogin, .githubLogin, .googleLogin {
    width: 100%;
    text-align: center;
    border-radius: 5px;
}
.facebookLogin {
    background-color: #314a86;
    color: white;
    margin-bottom: 10px;
}

.facebookLogin a {
    color: white;
}
.githubLogin {
    background-color: #242729;
    color: white;
    margin-bottom: 10px;
}

.githubLogin a {
    color: white;
}
.googleLogin {
    background-color: #ffffff;
    margin-bottom: 10px;
}
.googleLogin a {
    color: #222222;
}
.loginForm, .singUpForm, .profileForm {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.passwordLabelContainer {
    width: 100%;
    display: flex;
}
.formLoginLabel{
    font-weight: bold;
    font-size: 15px;
}

.forgotPasswordLink {
    font-size: 14px;
    margin-left: auto;
}

.loginForm .form-control, .singUpForm .form-control {
    margin-bottom: 15px;
}
/*end login*/


/* password page */

.profile {
    max-width: 375px;
    margin: auto;
}
/* end password page */

/* navbar */
.navDropMenu, #profileDropdown {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c4c4c4;
}

#profileDropdown img {
    margin: auto;
}


    /* end navbar */

/*
general rules
 */


.full-width {
    width: 100%;
}

.main-color {
    background-color: #0077cc;
    color: #ffffff;
}
