/* navbar */
.badge {
    top: -7px !important;
}

.notif {
    padding: 10px 4px;
    border-bottom:black solid 0.5px;
    font-size: 14px;
    cursor: pointer;
}

#notificationList {
    max-height: 600px;
    overflow: scroll;
}


#navDropDownChoose {
    color: white;
    margin-left: 20px;
}
/*#navDropDownChoose img {*/
/*    padding: 3px;*/
/*}*/

/* end navbar*/
.navbar-right {
    margin-left: auto !important;
}

/* login part*/
.loginLink {
    background-color: #0b5ed7;
    color: #ffffff;
    font-size: 14px;
    margin-right: 5px;
}
.formContainer {
    width: 320px;
    margin: auto;
}
.Logincontainer {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center
}
.forgotPassword {
    margin-left: auto;
    font-size: 12px;
}
/*login part*/



/* singup part*/
.singupLink {
    background-color: #0d6efd;
    color: #ffffff;
    font-size: 14px;
}
.singupContainer {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center
}
.singUpForm {
    width: 320px;
}
/*end singup part*/

/* reset page*/
.resetContainer {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center
}

.resetForm {
    width: 375px;
}
/*end reset page*/


/* home page*/
#homePage {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center
}

.reservation-form {
    width: 375px;
}
/* end home page*/

/* profile pahe */
.mainProfile {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    max-width: 375px;
    margin: auto;
}
/* end profile page */


/* reservation type */
.addReservationType {
    width: 100%;
}
/* end reservation type */
/* footer */
footer {
    min-height: 150px;
    background-color:#1a1e21;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center

}
/* en of the footer*/



.nav-icon {
    font-size: 20px;
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.nav-title {
    font-size: 14px;
    display: block;
    text-align: center;
    width: 100%;
}
.secondary-navbar {
    background-color: #F1F1F1;
    margin-top: 20px;
}

.check .fa-check {
    color: #05ac5b;
    font-size: 18px;
}

.remove .fa-trash-alt {
    color: #e73434;
    font-size: 18px;
}
.table-head {
    padding: 10px;
    font-size: 15px;
}
.table-head th {
    padding: 5px;
    font-size: 16px;
}
.table-body tr td {
    font-size: 16px;
    padding: 10px 5px;
}
/* general rules*/
.full-width {
    width: 100%;
}
.main-color {
    color: #16b7ee;
}

.main-background {
    background-color: #255dff;
    color: #ffffff;
}

.main-background:hover {
    background-color: #3867fc;
    color: #ffffff;
}

.textBold {
    font-weight: bold;
    font-size: 14px;
}

.errors {
    color: #ff0f0f;
    font-size: 12px;
}

.checkIfExist {
    padding: 8px 0px;
    font-size: 12px;
}
.checkIfExist a {

    font-weight: bold;
    font-size: 14px;
}

.pageMain {
    height: calc(100vh - 190px);
}

.hide {
    display: none;
}
.show {
    display: block;
}
/*end*/
