<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="includes/_head"></head>
<header th:replace="includes/_header"></header>
<body>
    <main>
        <div class="container">
            <h2 >List of today <span th:text="${today}"></span></h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>time</th>
                </tr>
                </thead>
                <tbody>reservationList
                <tr th:each="reserv : ${reservation}">
                    <td th:text="${reserv.user.firstname}"></td>
                    <td th:text="${reserv.user.lastname}"></td>
                    <td th:text="${reserv.reservationType.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer th:replace="includes/_footer"></footer></body>
</html>

