<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<header th:include="~{includes/_head :: head}"></header>

<body>
<header th:replace="~{includes/_header :: header}"></header>
    <main>
        <div class="container">
            <nav th:replace="~{includes/_admin_navigation :: admin-navigation}"></nav>
            <section class="userslist">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody th:each="user : ${waitUser}">
                    <tr>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastname}"></td>
                        <td th:text="${user.email}"></td>
                        <td></td>
                        <td></td>
                        <td>
                            <form method="post" action="#" th:action="@{/admin?action=accepter}">
                                <button class="btn btn-success">refuser</button>
                               <input type="hidden" th:value="${user.id}" name="id">
                            </form>
                        </td>
                        <td>
                            <form method="post" action="#" th:action="@{/admin?action=refuser}">
                                <input type="hidden" th:value="${user.id}" name="id">
                                <button class="btn btn-danger">refuser</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section class="reservationType">
                <h3>list of the reservation type here</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">type Name</th>
                        <th scope="col">Type Size</th>
                    </tr>
                    </thead>
                    <tbody th:each="resType : ${reservationTypeList}">
                    <tr>
                        <td th:text="${resType.name}"></td>
                        <td th:text="${resType.size}"></td>
                        <td></td>
                        <td></td>
                        <td>
                            <form>
                                <button class="btn btn-success">Update</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>


<!--    add reservation type modal-->
        <div class="modal fade" id="addReservationType" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">add New Reservation Type</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="#" th:action="@{/admin?action=addType}" method="post" th:object="${reservation_type}">
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Name</label>
                                <input type="text" th:field="*{name}" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label for="size" class="col-form-label">Reservation Size</label>
                                <input type="number" th:field="*{size}" class="form-control"/>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send message</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
<!--        end modal reservation type -->
    </main>
    <footer th:include="~{includes/_footer :: footer}"></footer>
</body>
</html>

<!--<head>-->
<!--    <meta charset="utf-8" />-->

<!--    <title>Hello React!</title>-->

<!--    <script src="https://unpkg.com/react@^16/umd/react.production.min.js"></script>-->
<!--    <script src="https://unpkg.com/react-dom@16.13.0/umd/react-dom.production.min.js"></script>-->
<!--    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--<div id="root"></div>-->

<!--<script type="text/babel" src=""></script>-->
<!--</body>-->
<!--</html>-->
