<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Home</title>
  <th:block th:include="shared/general.html :: headFile"/>
</head>
<body>
<header th:replace="shared/general.html :: header"> </header>
  <main id="homePage">

    <form th:object="${reservation}" class="reservation-form"  th:action="@{/addReservation}" method="post">
      <div th:if="${added}"  th:text="${added}" class="alert alert-success custom-alert"></div>
      <div th:if="${reservationExist}" th:text="${reservationExist}" class="alert alert-danger custom-alert">
      </div>
      <div class="form-group">
        <label class="form-label textBold" >day</label>
        <select class="form-select form-select-sm" th:field="*{day}" id="reservationDay">
          <option th:each="type : ${days}"
                  th:value="${type}"
                  th:text="${type}"></option>
        </select>
      </div>
      <div class="form-group" id="selectReservationType">
        <label class="form-label textBold">reservation type</label>
        <select class="form-select form-select-sm" th:field="*{reservationType}">
          <option th:each="type : ${reser_list}"
                  th:value="${type.id}"
                  th:text="${type.name}"></option>
        </select>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn main-background full-width mt-3">reserver</button>
      </div>
    </form>
  </main>
<footer th:replace="shared/general.html :: footer" class="text-center"></footer>
</body>
</html>
