<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="includes/_head"></head>
<header th:replace="includes/_header"></header>
<body class="loginBody">
<div class="container">
    <section class="login-main-container">
        <div class="login-form-container">
            <!--            facebook login-->
            <div class="facebookLogin">
                <a class="btn">facebook</a>
            </div>
            <div class="googleLogin">
                <a class="btn">google</a>
            </div>
            <div class="githubLogin">
                <a class="btn">github</a>
            </div>
            <form method="post" th:action="@{/login}" class="loginForm">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">
                        <div class="formLoginLabel">Email</div>
                    </label>
                    <input type="email" name="email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">
                        <div class="passwordLabelContainer">
                            <div class="formLoginLabel">Password</div>
                            <a th:href="@{/}" class="forgotPasswordLink">forgot Password ?</a>
                        </div>
                    </label>
                    <input type="password" name="password" class="form-control"/>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn main-color mt-3 full-width">Login</button>
                </div>
            </form>
            <div>Don’t have an account? <a th:href="@{/singup}">Sign up</a></div>
        </div>
    </section>
</div>
<!--<footer th:replace="includes/_footer"></footer>-->
</body>
</html>


