<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="includes/_head"></head>
<header th:replace="includes/_header"></header>
<body>
    <main class="mainProfile">
        <div class="container">
            <div class="profile">
                <div class="text-center">
                    <img th:src="@{${user.gravatar}}" alt="profile_image">
                </div>
                <hr/>
                <form th:object="${user}" method="post" class="profileForm" th:action="@{/profile/update}">
                    <div class="form-group">
                        <label class="form-label formLoginLabel">First Name</label>
                        <input class="form-control" th:field="*{firstname}">
                    </div>
                    <div class="form-group">
                        <label class="form-label formLoginLabel">Last Name</label>
                        <input class="form-control" th:field="*{lastname}">
                    </div>
                    <div class="form-group text-center">
                        <button name="submit" type="submit" class="btn main-color full-width mt-4">Update</button>
                    </div>
                </form>

            </div>
        </div>
    </main>
<!--    <footer th:replace="includes/_footer"></footer>-->
</body>
</html>

