<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>profile...</title>
    <th:block th:include="shared/general.html :: headFile"/>
</head>
<body>
<header th:replace="shared/general.html :: header"> </header>
    <main class="mainProfile">
        <div class="container">
            <div class="profile">
                <div class="text-center">
                    <img th:src="@{'https://www.gravatar.com/avatar/' + ${#request.userPrincipal.principal.user.gravatar} + '?d=robohash&s=130'}" alt="profile" width="130" height="130">
                </div>
                <hr/>
                <form th:object="${user}" method="post" class="profileForm" th:action="@{/profile/update}">
                    <div class="form-group">
                        <label class="form-label textBold">First Name</label>
                        <input class="form-control" th:field="*{firstname}">
                    </div>
                    <div class="form-group">
                        <label class="form-label textBold">Last Name</label>
                        <input class="form-control" th:field="*{lastname}">
                    </div>
                    <div class="form-group text-center">
                        <button name="submit" type="submit" class="btn main-background full-width mt-4">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
<footer th:replace="shared/general.html :: footer" class="text-center"></footer>
</body>
</html>
