<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>reset password</title>
    <th:block th:include="shared/general.html :: headFile"/>
</head>
<body>
<header th:replace="shared/general.html :: header"> </header>
    <div class="resetContainer">
        <form method="post" th:action="@{/password/reset}" class="resetForm">
            <div class="alert alert-success resetpass-msg" th:if="${passResetMsg}" th:text="${passResetMsg}"></div>
            <div class="form-group">
                <label class="form-label textBold" for="resetEmail">Enter your Email</label>
                <input class="form-control" type="email" id="resetEmail" name="resetEmail" placeholder="entere your email"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn main-background full-width mt-3">Reset password</button>
            </div>
        </form>
    </div>
<footer th:replace="shared/general.html :: footer" class="text-center"></footer>
</body>
</html>
