<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--            dashboard navigation -->
<ul class="nav nav-pills nav-justified mt-3" th:fragment="admin-navigation">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin" th:href="@{/admin}">Dashboard</a>
    </li>
    <li class="nav-item">
        <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#addReservationType">Add Reser Type</button>
        <!--                    <a class="nav-link" href="/admin/reservation-type" th:href="@{/reservation-type}">add Reservation Type</a>-->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>

<!--        admin users tables -->
